<div class="behaviour">
  <h4 class="code-font">
    Define behaviour of @{{ data["context"].elementName }}
    <button mat-button color="primary" style="float: right" (click)="save()">
      Save
    </button>
  </h4>
  <hr />
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Select pipeline</mat-label>
      <mat-select
        [(ngModel)]="selectedPipeLine"
        (selectionChange)="pipeLineChange()"
      >
        <mat-option *ngFor="let pipeline of pipelines" [value]="pipeline">{{
          pipeline.id_
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;
    <button mat-mini-fab color="primary" (click)="addPipeLine()">
      <mat-icon>add</mat-icon>
    </button>
    &nbsp;
    <button mat-mini-fab color="primary" (click)="deletePipeLine()">
      <mat-icon>remove</mat-icon>
    </button>
  </div>
  <div *ngIf="selectedPipeLineId != -1">
    <div>
      <button
        mat-mini-fab
        color="primary"
        (click)="addBehaviour()"
        style="vertical-align: middle"
      >
        <mat-icon>add</mat-icon>
      </button>
      &nbsp;
      <button
        mat-mini-fab
        color="primary"
        (click)="deleteBehaviour()"
        style="vertical-align: middle"
      >
        <mat-icon>remove</mat-icon>
      </button>
      &nbsp;
      <span>Add behaviour</span>
    </div>
    <br />
    <div *ngFor="let behaviour of selectedPipeLine.behaviours">
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Event</mat-label>
            <mat-select [(ngModel)]="behaviour.triggerEvent">
              <mat-option
                *ngFor="let item of events | keyvalue"
                [value]="item.key"
                >{{ item.key }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Action</mat-label>
            <mat-select
              [(ngModel)]="behaviour.triggerAction"
              (selectionChange)="actionChanged(behaviour)"
            >
              <mat-option
                *ngFor="let item of actions | keyvalue"
                [value]="item.key"
                >{{ item.key }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <mat-form-field
        class="example-form-field"
        appearance="outline"
        style="width: 100%"
        *ngIf="
          ['hide', 'toggleHidden', 'changeColor', 'applyCssOnTarget'].includes(
            behaviour.triggerAction
          )
        "
      >
        <mat-label>Enter Element Id</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="behaviour.data['targetElementId']"
        />
        <button
          *ngIf="behaviour.data['targetElementId']"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="behaviour.data['targetElementId'] = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <div  *ngFor="let i of inputs">
        <mat-form-field
          class="example-form-field"
          appearance="outline"
          style="width: 100%"
          *ngIf="behaviour.data[i]"
        >
          <mat-label>{{ behaviour.data[i]["label"] }}</mat-label>
            <input matInput type="text" [(ngModel)]="behaviour.data[i]['value']" />
            <button
              *ngIf="behaviour.data[i]['value']"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="$any(behaviour).data[i]['value'] = ''"
            >
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
