<div class="attrbutes">
  Attributes
  <hr />
  <div class="attribute-panel">
    <div class="row">
      <div class="col-sm-3">Element Name</div>
      <div class="col-sm-9">
        <input
          type="text"
          class="attributeInputs"
          [(ngModel)]="attributes.elementName"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">Id</div>
      <div class="col-sm-9">
        <input
          type="text"
          class="attributeInputs"
          [(ngModel)]="attributes.id"
        />
      </div>
    </div>
    <div class="row" style="margin-top: 10px">
      <div class="col-sm-3">
        Value
        <button
          mat-mini-fab
          color="primary"
          #tooltip="matTooltip"
          matTooltip="Views in project"
          style="height: 30px; width: 30px; margin-top: 10px"
          (click)="value.emit(['value', true])"
        >
          <mat-icon style="font-size: 17px; vertical-align: center"
            >keyboard_double_arrow_up</mat-icon
          >
        </button>
      </div>
      <div class="col-sm-9">
        <textarea
          rows="5"
          [(ngModel)]="attributes.value"
          class="attributeInputs"
          id="attributeValue"
          (ngModelChange)="signalChange('Value')"
        ></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">Font Size</div>
      <div class="col-sm-9">
        <input
          type="text"
          class="attributeInputs"
          [(ngModel)]="attributes.fontSize"
          id="attributeFontSize"
          (ngModelChange)="signalChange('FontSize')"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">Color</div>
      <div class="col-sm-9">
        <input
          type="text"
          class="attributeInputs"
          [(ngModel)]="attributes.color"
          id="attributeColor"
          (ngModelChange)="signalChange('Color')"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">Custom css style
        <button
          mat-mini-fab
          color="primary"
          #tooltip="matTooltip"
          matTooltip="Views in project"
          style="height: 30px; width: 30px; margin-top: 10px"
          (click)="value.emit(['style', true])"
        >
          <mat-icon style="font-size: 17px; vertical-align: center"
            >keyboard_double_arrow_up</mat-icon
          >
        </button>
      </div>
      <div class="col-sm-9">
        <textarea
          rows="5"
          [(ngModel)]="attributes.customStyle"
          class="attributeInputs"
          id="attributeCss"
          (ngModelChange)="signalChange('style')"
        ></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">Bootstrap color scheme</div>
      <div class="col-sm-9">
        <select
          class="form-control"
          style="font-size: 12px"
          [(ngModel)]="attributes.bootstrapColorScheme"
          id="attributeBootstrapColorScheme"
          (ngModelChange)="signalChange('BootstrapColor')"
        >
          <option *ngFor="let col of bootstrapColorDetail" [value]="col.value">
            {{ col.display }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        Padding
        <button
          mat-mini-fab
          color="primary"
          #tooltip="matTooltip"
          matTooltip="Views in project"
          style="height: 30px; width: 30px"
          (click)="
            dispalyIndividualPaddingElements = !dispalyIndividualPaddingElements
          "
        >
          <mat-icon
            style="font-size: 20px; vertical-align: cente; padding-top: 2px"
            *ngIf="!dispalyIndividualPaddingElements"
            >keyboard_double_arrow_down</mat-icon
          >
          <mat-icon
            *ngIf="dispalyIndividualPaddingElements"
            style="font-size: 20px; vertical-align: cente; padding-top: 2px"
            >keyboard_double_arrow_up</mat-icon
          >
        </button>
      </div>
      <div class="col-sm-9">
        <input
          type="text"
          class="attributeInputs"
          [(ngModel)]="attributes.padding"
          id="attributePadding"
          (ngModelChange)="signalChange('Padding')"
        />
      </div>
    </div>
    <div *ngIf="dispalyIndividualPaddingElements">
      <div class="row">
        <div class="col-sm-3">Padding Left</div>
        <div class="col-sm-9">
          <input
            type="text"
            class="attributeInputs"
            [(ngModel)]="attributes.paddingLeft"
            id="attributePadding"
            (ngModelChange)="signalChange('PaddingLeft')"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">Padding Right</div>
        <div class="col-sm-9">
          <input
            type="text"
            class="attributeInputs"
            [(ngModel)]="attributes.paddingRight"
            id="attributePadding"
            (ngModelChange)="signalChange('PaddingRight')"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">Padding Top</div>
        <div class="col-sm-9">
          <input
            type="text"
            class="attributeInputs"
            [(ngModel)]="attributes.paddingTop"
            id="attributePadding"
            (ngModelChange)="signalChange('PaddingTop')"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">Padding Bottom</div>
        <div class="col-sm-9">
          <input
            type="text"
            class="attributeInputs"
            [(ngModel)]="attributes.paddingBottom"
            id="attributePadding"
            (ngModelChange)="signalChange('PaddingBottom')"
          />
        </div>
      </div>
      <hr />
    </div>
    <div class="row">
      <div class="col-sm-3">
        Margin
        <button
          mat-mini-fab
          color="primary"
          #tooltip="matTooltip"
          matTooltip="Views in project"
          style="height: 30px; width: 30px"
          (click)="
            dispalyIndividualMarginElements = !dispalyIndividualMarginElements
          "
        >
          <mat-icon
            style="font-size: 20px; vertical-align: cente; padding-top: 2px"
            *ngIf="!dispalyIndividualMarginElements"
            >keyboard_double_arrow_down</mat-icon
          >
          <mat-icon
            *ngIf="dispalyIndividualMarginElements"
            style="font-size: 20px; vertical-align: cente; padding-top: 2px"
            >keyboard_double_arrow_up</mat-icon
          >
        </button>
      </div>
      <div class="col-sm-9">
        <input
          type="text"
          class="attributeInputs"
          [(ngModel)]="attributes.margin"
          id="attributePadding"
          (ngModelChange)="signalChange('Margin')"
        />
      </div>
    </div>
    <div *ngIf="dispalyIndividualMarginElements">
      <div class="row">
        <div class="col-sm-3">Margin Left</div>
        <div class="col-sm-9">
          <input
            type="text"
            class="attributeInputs"
            [(ngModel)]="attributes.marginLeft"
            id="attributeMarginLeft"
            (ngModelChange)="signalChange('MarginLeft')"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">Margin Right</div>
        <div class="col-sm-9">
          <input
            type="text"
            class="attributeInputs"
            [(ngModel)]="attributes.marginRight"
            id="attributeMarginRight"
            (ngModelChange)="signalChange('MarginRight')"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">Margin Top</div>
        <div class="col-sm-9">
          <input
            type="text"
            class="attributeInputs"
            [(ngModel)]="attributes.marginTop"
            id="attributeMarginTop"
            (ngModelChange)="signalChange('MarginTop')"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">Margin Bottom</div>
        <div class="col-sm-9">
          <input
            type="text"
            class="attributeInputs"
            [(ngModel)]="attributes.marginBottom"
            id="attributeMarginBottom"
            (ngModelChange)="signalChange('MarginBottom')"
          />
        </div>
      </div>
      <hr />
    </div>
    <div class="row">
      <div class="col-sm-3">Width</div>
      <div class="col-sm-9">
        <input
          type="text"
          class="attributeInputs"
          [(ngModel)]="attributes.width"
          id="attributeMarginBottom"
          (ngModelChange)="signalChange('Width')"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">Height</div>
      <div class="col-sm-9">
        <input
          type="text"
          class="attributeInputs"
          [(ngModel)]="attributes.height"
          id="attributeMarginBottom"
          (ngModelChange)="signalChange('Height')"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">Shadow</div>
      <div class="col-sm-9">
        <select
          class="form-control"
          style="font-size: 12px"
          [(ngModel)]="attributes.shadow"
          id="attributeBootstrapColorScheme"
          (ngModelChange)="signalChange('Shadow')"
        >
          <option *ngFor="let col of shadow" [value]="col.value">
            {{ col.display }}
          </option>
        </select>
      </div>
    </div>
    <div *ngIf="attributes.customAttributes">
      <div class="row" *ngFor="let attr of attributes.customAttributes | keyvalue">
        <div class="col-sm-3">{{attr.key}}</div>
        <div class="col-sm-9" *ngIf="$any(attr.value)['type'] == 'string'">
          <input
            type="string"
            style="width:auto"
            class="attributeInputs"
            [(ngModel)]="$any(attr.value)['value']"
            id="attributeMarginBottom"
            (ngModelChange)="signalChange($any(attr.key))"
          />
        </div>
        <div class="col-sm-9" *ngIf="$any(attr.value)['type'] == 'boolean'">
          <input
            type="checkbox"
            style="width:auto"
            class="attributeInputs"
            [(ngModel)]="$any(attr.value)['value']"
            id="attributeMarginBottom"
            (ngModelChange)="signalChange($any(attr.key))"
          />
        </div>
        <div class="col-sm-9" *ngIf="$any(attr.value)['type'] == 'number'">
          <input
            type="string"
            style="width:auto"
            class="attributeInputs"
            [(ngModel)]="$any(attr.value)['value']"
            id="attributeMarginBottom"
            (ngModelChange)="signalChange($any(attr.key))"
          />
        </div>
      </div>
    </div>
  </div>
</div>
