<div style="min-width: 800px">
  <button
    mat-raised-button
    color="accent"
    *ngIf="!useJSON"
    (click)="useJSON = true"
  >
    {{ "{ " }} JSON {{ " }" }}
  </button>
  <button
    mat-raised-button
    color="accent"
    *ngIf="useJSON"
    (click)="useJSON = false"
  >
    GUI
  </button>
  <br>
  <div *ngIf="!useJSON">
    <mat-form-field style="width: 100%">
      <mat-label>Data Model Name</mat-label>
      <input
        matInput
        type="text"
        placeholder="Data Model Name"
        [(ngModel)]="dataModelName"
      />
    </mat-form-field>
    <div class="row" style="margin-bottom: 20px">
      <div class="col-sm-4">
        <div
          *ngFor="let col of grid.defferedColumns[0]; let i = index"
          class="columnClass"
        >
          {{ "{" }} <br />
          &nbsp;"name" : "<small>{{ col.name }}</small
          >", <br />
          &nbsp;"type" : "<small>{{ col.type }}</small
          >"
          <br />
          {{ "}" }}
          <hr style="margin-bottom: 0px">
          <mat-checkbox class="codeFont" [(ngModel)]="col.index">
            Index ?
          </mat-checkbox>
          <span style="padding-left: 57px;"></span>
          <button matSuffix mat-icon-button aria-label="Clear">
            <mat-icon>edit</mat-icon>
          </button>
          <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="deleteColumn(0, i)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <div class="col-sm-4">
        <div
          *ngFor="let col of grid.defferedColumns[1]; let i = index"
          class="columnClass"
        >
          {{ "{" }} <br />
          &nbsp;"name" : "<small>{{ col.name }}</small
          >", <br />
          &nbsp;"type" : "<small>{{ col.type }}</small
          >"
          <br />
          {{ "}" }}
          <hr style="margin-bottom: 0px">
          <mat-checkbox class="codeFont" [(ngModel)]="col.index">
            Index ?
          </mat-checkbox>
          <button matSuffix mat-icon-button aria-label="Clear" style="margin: 0.1em auto">
            <mat-icon>edit</mat-icon>
          </button>
          <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="deleteColumn(1, i)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <div class="col-sm-4">
        <div
          *ngFor="let col of grid.defferedColumns[2]; let i = index"
          class="columnClass"
        >
          {{ "{" }} <br />
          &nbsp;"name" : "<small>{{ col.name }}</small
          >", <br />
          &nbsp;"type" : "<small>{{ col.type }}</small
          >"
          <br />
          {{ "}" }}
          <hr style="margin-bottom: 0px">
          <mat-checkbox class="codeFont" [(ngModel)]="col.index">
            Index ?
          </mat-checkbox>
          <button matSuffix mat-icon-button aria-label="Delete">
            <mat-icon>edit</mat-icon>
          </button>
          <button
            matSuffix
            mat-icon-button
            aria-label="Delete"
            (click)="deleteColumn(2, i)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <mat-form-field style="width: 100%">
      <mat-label>Column Name</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="columnName"
        placeholder="Column Name"
      />
    </mat-form-field>
    <div>
      {{ addColumnJson }}
    </div>
    <mat-form-field style="width: 100%">
      <mat-label>Data Type</mat-label>
      <mat-select [(ngModel)]="columnType">
        <mat-option *ngFor="let dataType of dataTypes" [value]="dataType.value">
          {{ dataType.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-mini-fab
      color="mat-indigo"
      style="height: 40px; width: 40px; float: right"
      (click)="addColumnIntoIndex()"
    >
      <mat-icon style="font-size: 20px; vertical-align: center">add</mat-icon>
    </button>
  </div>
  <div *ngIf="useJSON" class="codeFont">
    <small>*Columns must be defined according to the following schema.</small>
    <br>
    <small style="color: indianred;" class="codeFont">
    {{ '{' }}<br>
    &nbsp;&nbsp;"name": "string", <br>
    &nbsp;&nbsp;"type": "[int, tinyString, smallString, mediumString, string, float, boolean]"
    <br>
    {{ '}'}}
    </small>
    <hr>
    <br>
    {{ '{' }}<br>
    &nbsp;&nbsp;&nbsp;"command" : "createDataModel",<br>
    &nbsp;&nbsp;&nbsp;"columns": [<br><br>
    <textarea class="form-control codeFont" rows="7">{}</textarea>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]
    <br>
    {{ '}'}}

  </div>
  <br />
  <br />
  <br />
  <hr />
  <small>Create a new data-model ?</small><br />
  <button mat-mini-fab color="primary" style="height: 40px; width: 40px" (click)="createDataModel()">
    <mat-icon style="font-size: 20px; vertical-align: center">done</mat-icon>
  </button>
  &nbsp;
  <button mat-mini-fab color="primary" style="height: 40px; width: 40px">
    <mat-icon style="font-size: 20px; vertical-align: center">close</mat-icon>
  </button>
</div>
