<div class="container-fluid">
  <div class="top-nav">
    <span>
      <button
        mat-mini-fab
        color="mat-indigo"
        #tooltip="matTooltip"
        matTooltip="Overview"
        style="height: 40px; width: 40px"
        (click)="currentTab = 0"
      >
        <mat-icon style="font-size: 20px; vertical-align: center"
          >dashboard</mat-icon
        >
      </button>
      <button
        mat-mini-fab
        color="mat-indigo"
        #tooltip="matTooltip"
        matTooltip="Add a data model"
        style="height: 40px; width: 40px; margin-left: 20px"
        (click)="openAddModelPanel()"
      >
        <mat-icon style="font-size: 20px; vertical-align: center">add</mat-icon>
      </button>
      <button
        mat-mini-fab
        color="mat-indigo"
        #tooltip="matTooltip"
        matTooltip="Run query on data model"
        style="height: 40px; width: 40px; margin-left: 20px"
        (click)="currentTab = 1"
      >
        <mat-icon style="font-size: 20px; vertical-align: center"
          >code</mat-icon
        >
      </button>
      <button
        mat-mini-fab
        color="mat-indigo"
        #tooltip="matTooltip"
        matTooltip="Refresh"
        style="height: 40px; width: 40px; margin-left: 20px"
        (click)="refresh()"
      >
        <mat-icon style="font-size: 20px; vertical-align: center"
          >refresh</mat-icon
        >
      </button>
    </span>
  </div>
  <div class="board" *ngIf="currentTab == 0">
    <div class="row">
      <div class="col-sm-4">
        <div *ngFor="let elem of dataModelGrid.defferedColumns[0]">
          <mat-card class="shadow p-3 mb-4 bg-white rounded data-model-card">
            <mat-card-content>
              <img
                src="/assets/images/database_image.png"
                width="70"
                style="float: left"
              />
              <small>@ {{ elem.name }}</small>
              <small *ngIf="elem['purged']" style="color: red"
                >&nbsp;**Purged</small
              >
              <hr style="margin: 0.1em auto" />
              <small style="font-size: x-small"
                >No of columns: {{ elem.meta_data.columns.length }}
                <br />Created On: {{ elem.created_on }}
              </small>
              <div
                *ngIf="elem.moreInfo"
                style="padding-top: 20px; font-size: x-small"
              >
                <textarea
                  class="form-control codeFontMd"
                  style="font-size: 10px; background-color: white"
                  rows="30"
                  disabled
                  >{{ formatJson(elem.meta_data, elem.index) | json }}</textarea
                >
                <br />
                <button
                  mat-button
                  style="float: right"
                  *ngIf="elem.moreInfo == true"
                  (click)="elem.moreInfo = !elem.moreInfo"
                >
                  <mat-icon *ngIf="elem.moreInfo == true">
                    expand_less
                  </mat-icon>
                </button>
                <div style="min-height: 30px"></div>
              </div>
              <button
                mat-button
                style="float: right"
                *ngIf="elem.moreInfo == false"
                (click)="elem.moreInfo = !elem.moreInfo"
              >
                <mat-icon> expand_more </mat-icon>
              </button>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="col-sm-4">
        <div *ngFor="let elem of dataModelGrid.defferedColumns[1]">
          <mat-card class="shadow p-3 mb-4 bg-white rounded data-model-card">
            <mat-card-content>
              <img
                src="/assets/images/database_image.png"
                width="70"
                style="float: left"
              />
              <small>@ {{ elem.name }}</small>
              <small *ngIf="elem['purged']" style="color: red"
                >&nbsp;**Purged</small
              >
              <hr style="margin: 0.1em auto" />
              <small style="font-size: x-small"
                >No of columns: {{ elem.meta_data.columns.length }}
                <br />Created On: {{ elem.created_on }}
              </small>
              <div
                *ngIf="elem.moreInfo"
                style="padding-top: 20px; font-size: x-small"
              >
                <textarea
                  class="form-control codeFontMd"
                  style="font-size: 10px; background-color: white"
                  rows="30"
                  disabled
                  >{{ formatJson(elem.meta_data, elem.index) | json }}</textarea
                >
                <br />
                <button
                  mat-button
                  style="float: right"
                  *ngIf="elem.moreInfo == true"
                  (click)="elem.moreInfo = !elem.moreInfo"
                >
                  <mat-icon *ngIf="elem.moreInfo == true">
                    expand_less
                  </mat-icon>
                </button>
                <div style="min-height: 30px"></div>
              </div>
              <button
                mat-button
                style="float: right"
                *ngIf="elem.moreInfo == false"
                (click)="elem.moreInfo = !elem.moreInfo"
              >
                <mat-icon> expand_more </mat-icon>
              </button>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="col-sm-4">
        <div *ngFor="let elem of dataModelGrid.defferedColumns[2]">
          <mat-card class="shadow p-3 mb-4 bg-white rounded data-model-card">
            <mat-card-content>
              <img
                src="/assets/images/database_image.png"
                width="70"
                style="float: left"
              />
              <small>@ {{ elem.name }}</small>
              <small *ngIf="elem['purged']" style="color: red"
                >&nbsp;**Purged</small
              >
              <hr style="margin: 0.1em auto" />
              <small style="font-size: x-small"
                >No of columns: {{ elem.meta_data.columns.length }}
                <br />Created On: {{ elem.created_on }}
              </small>
              <div
                *ngIf="elem.moreInfo"
                style="padding-top: 20px; font-size: x-small"
              >
                <textarea
                  class="form-control codeFontMd"
                  style="font-size: 10px; background-color: white"
                  rows="30"
                  disabled
                  >{{ formatJson(elem.meta_data, elem.index) | json }}</textarea
                >
                <br />
                <button
                  mat-button
                  style="float: right"
                  *ngIf="elem.moreInfo == true"
                  (click)="elem.moreInfo = !elem.moreInfo"
                >
                  <mat-icon *ngIf="elem.moreInfo == true">
                    expand_less
                  </mat-icon>
                </button>
                <div style="min-height: 30px"></div>
              </div>
              <button
                mat-button
                style="float: right"
                *ngIf="elem.moreInfo == false"
                (click)="elem.moreInfo = !elem.moreInfo"
              >
                <mat-icon> expand_more </mat-icon>
              </button>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-query-view
      *ngIf="currentTab == 1"
      [dataModels]="serializedGrid"
    ></app-query-view>
  </div>
</div>
