<div
  *ngIf="isLoading"
  class="center"
  style="position: fixed; z-index: 20000; width: 100%; padding-top: 15%"
>
  <mat-spinner style="left: calc(100vw / 4.5)"></mat-spinner>
  <span style="padding-left: calc(100vw / 4.3)">Loading..</span>
</div>
<div class="container">
  <mat-card
    appearance="outlined"
    class="card-panel shadow p-3 mb-5 bg-white rounded edit-panel"
  >
    <mat-card-header>
      <mat-icon style="margin-right: 20px">settings</mat-icon>
      <h6>Configure Home Page</h6>
      <mat-icon style="padding-left: 70%" (click)="close()">cancel</mat-icon>
    </mat-card-header>
    <mat-card-content style="position: relative">
      <h6>Edit Home Page</h6>
      <hr />
      <mat-checkbox
        name="isHeaderEnabled"
        *ngIf="model.deferred_attributes['homePageConfig'][0]"
        [(ngModel)]="model.deferred_attributes['homePageConfig'][0]['header']"
        (change)="updateConfig()"
        >Website Header</mat-checkbox
      ><br />
      <div
        *ngIf="
          model.deferred_attributes['homePageConfig'][0] &&
          model.deferred_attributes['homePageConfig'][0]['header']
        "
      >
        <mat-checkbox
          name="isHeaderEnabled"
          *ngIf="model.deferred_attributes['homePageConfig'][0]"
          [(ngModel)]="
            model.deferred_attributes['homePageConfig'][0][
              'header_bootstrap_color_scheme'
            ]
          "
          (change)="updateConfig()"
          >BootStrap Color Scheme</mat-checkbox
        >
        <span *ngIf="model.deferred_attributes['websiteHeader'] && model.deferred_attributes['homePageConfig'][0]['header_bootstrap_color_scheme'] else customColor " >
          &nbsp;
          <mat-form-field appearance="outline">
            <mat-select
              [(ngModel)]="model.deferred_attributes['websiteHeader'][0]['bootstrap_color_scheme']"
              name="btnBootStrapColorScheme1"
              required
            >
              <mat-option value="primary">Blue</mat-option>
              <mat-option value="dark">Black</mat-option>
              <mat-option value="light">Light</mat-option>
              <mat-option value="secondary">Grey</mat-option>
              <mat-option value="danger">Red</mat-option>
              <mat-option value="warning">Yellow</mat-option>
            </mat-select>
          </mat-form-field>
        </span>
        <ng-template #customColor>
          &nbsp;
          <span>
            <mat-form-field appearance="outline" style="width: 100%;">
              <input matInput placeholder="Custom color. Eg. red,blue,green" [(ngModel)]="model.deferred_attributes['websiteHeader'][0]['background_color']"/>
              <mat-hint>You can give multiple colors seperated by a comma. This will create a Linear Gradient effect</mat-hint>
            </mat-form-field>
          </span>
        </ng-template>
        <span *ngIf="model.deferred_attributes['websiteHeader']">

        </span>
        <form *ngIf="model.deferred_attributes['websiteHeader']">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Heading</mat-label>
            <input
              matInput
              placeholder="Heading"
              [(ngModel)]="
                model.deferred_attributes['websiteHeader'][0].heading
              "
              name="heading"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Sub Heading</mat-label>
            <input
              matInput
              placeholder="Sub Heading"
              [(ngModel)]="
                model.deferred_attributes['websiteHeader'][0].sub_heading
              "
              name="sub_heading"
            />
          </mat-form-field>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Header Link 1</mat-label>
                <input
                  matInput
                  placeholder="Sub Heading"
                  [(ngModel)]="links[0]['name']"
                  name="link1"
                />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Redirect link</mat-label>
                <input
                  matInput
                  placeholder="Sub Heading"
                  [(ngModel)]="links[0]['url']"
                  name="url1"
                />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-select
                  [(ngModel)]="links[0]['colorScheme']"
                  name="btnColorScheme1"
                  required
                >
                  <mat-option value="btn-primary">Blue</mat-option>
                  <mat-option value="btn-dark">Black</mat-option>
                  <mat-option value="btn-warning">Orange</mat-option>
                  <mat-option value="btn-danger">Red</mat-option>
                  <mat-option value="btn-success">Green</mat-option>
                  <mat-option value="btn-secondary">Grey</mat-option>
                  <mat-option value="btn-info">Cyan</mat-option>
                  <mat-option value="btn-light">White</mat-option>
                  <mat-option value="btn-outline-primary"
                    >Outlined Blue</mat-option
                  >
                  <mat-option value="btn-outline-dark"
                    >Outlined Black</mat-option
                  >
                  <mat-option value="btn-outline-warning"
                    >Outlined Orange</mat-option
                  >
                  <mat-option value="btn-outline-danger"
                    >Outlined Red</mat-option
                  >
                  <mat-option value="btn-outline-success"
                    >Outlined Green</mat-option
                  >
                  <mat-option value="btn-outline-secondary"
                    >Outlined Grey</mat-option
                  >
                  <mat-option value="btn-outline-info"
                    >Outlined Cyan</mat-option
                  >
                  <mat-option value="btn-outline-light"
                    >Outlined White</mat-option
                  >
                </mat-select>
                <mat-label>Button theme</mat-label>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Header Link 2</mat-label>
                <input
                  matInput
                  placeholder="Sub Heading"
                  [(ngModel)]="links[1]['name']"
                  name="link2"
                />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Redirect link</mat-label>
                <input
                  matInput
                  placeholder="Sub Heading"
                  [(ngModel)]="links[1]['url']"
                  name="orl2"
                />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-select
                  [(ngModel)]="links[1]['colorScheme']"
                  name="btnColorScheme2"
                  required
                >
                  <mat-option value="btn-primary">Blue</mat-option>
                  <mat-option value="btn-dark">Black</mat-option>
                  <mat-option value="btn-warning">Orange</mat-option>
                  <mat-option value="btn-danger">Red</mat-option>
                  <mat-option value="btn-success">Green</mat-option>
                  <mat-option value="btn-secondary">Grey</mat-option>
                  <mat-option value="btn-info">Cyan</mat-option>
                  <mat-option value="btn-light">White</mat-option>
                  <mat-option value="btn-outline-primary"
                    >Outlined Blue</mat-option
                  >
                  <mat-option value="btn-outline-dark"
                    >Outlined Black</mat-option
                  >
                  <mat-option value="btn-outline-warning"
                    >Outlined Orange</mat-option
                  >
                  <mat-option value="btn-outline-danger"
                    >Outlined Red</mat-option
                  >
                  <mat-option value="btn-outline-success"
                    >Outlined Green</mat-option
                  >
                  <mat-option value="btn-outline-secondary"
                    >Outlined Grey</mat-option
                  >
                  <mat-option value="btn-outline-info"
                    >Outlined Cyan</mat-option
                  >
                  <mat-option value="btn-outline-light"
                    >Outlined White</mat-option
                  >
                </mat-select>
                <mat-label>Button theme</mat-label>
              </mat-form-field>
            </div>
          </div>
        </form>
        <button
          mat-raised-button
          color="primary"
          (click)="updateWebsiteHeader()"
        >
          <mat-icon>done</mat-icon>Update
        </button>
      </div>
      <mat-checkbox
        name="darkTheme"
        *ngIf="model.deferred_attributes['homePageConfig'][0]"
        [(ngModel)]="
          model.deferred_attributes['homePageConfig'][0][
            'carousel_image_enabled'
          ]
        "
        (change)="updateConfig()"
        >Carousal Image</mat-checkbox
      >
      <div
        *ngIf="
          model.deferred_attributes['homePageConfig'][0] &&
          model.deferred_attributes['homePageConfig'][0][
            'carousel_image_enabled'
          ]
        "
      >
        <div
          id="website_carousel"
          class="carousel slide"
          data-interval="false"
          style="min-height: 120px"
        >
          <div class="carousel-indicators" *ngIf="!addCarouselImage">
            <button
              type="button"
              data-bs-target="#website_carousel"
              [attr.data-bs-slide-to]="i"
              [class]="i == 0 ? 'active' : ''"
              *ngFor="
                let image of model.deferred_attributes['carousalImages'];
                let i = index
              "
            ></button>
          </div>
          <div class="carousel-inner" id="carousel_image_container">
            <div
              [class]="'carousel-item ' + (i == 0 ? 'active' : '')"
              style="height: calc(70vh)"
              *ngFor="
                let image of model.deferred_attributes['carousalImages'];
                let i = index
              "
            >
              <img
                src="{{ apiHost + image.image }}"
                alt=""
                class="d-block w-100"
                style="height: calc(70vh); object-fit: cover"
                [attr.img_id]="image.id"
                *ngIf="!image.filesystem"
                #ci
              />
              <img
                src="{{ image.image }}"
                alt=""
                class="d-block w-100"
                style="height: calc(70vh); object-fit: cover"
                *ngIf="image.filesystem"
                #ci
              />
            </div>
          </div>
        </div>
        <div *ngIf="model.deferred_attributes['carousalImages'].length > 1">
          <button
            mat-fab
            color="primary"
            style="margin-top: 10px"
            id="prev_img"
            class="image_button"
            #tooltip="matTooltip"
            matTooltip="Add website page"
            [attr.data-bs-target]="addCarouselImage ? '' : '#website_carousel'"
            [attr.data-bs-slide]="addCarouselImage ? '' : 'prev'"
            disabled="{{ addCarouselImage }}"
          >
            <mat-icon style="font-size: 24px" (click)="(false)"
              >chevron_left</mat-icon
            >
          </button>
          <button
            mat-fab
            color="primary"
            id="next_img"
            [style]="
              model.deferred_attributes['carousalImages'].length == 0
                ? 'top: 100px'
                : 'margin-top: 10px'
            "
            class="image_button"
            #tooltip="matTooltip"
            matTooltip="Add carousalImage"
            [attr.data-bs-target]="addCarouselImage ? '' : '#website_carousel'"
            [attr.data-bs-slide]="addCarouselImage ? '' : 'next'"
            disabled="{{ addCarouselImage }}"
          >
            <mat-icon style="font-size: 24px">chevron_right</mat-icon>
          </button>
        </div>
        <button
          mat-fab
          color="primary"
          style="margin-top: 10px"
          [style]="
            model.deferred_attributes['carousalImages'].length == 0
              ? 'left:0px'
              : ''
          "
          class="image_button add_rem"
          #tooltip="matTooltip"
          matTooltip="Add"
          *ngIf="!addCarouselImage"
          (click)="addCarouselImage = true"
        >
          <mat-icon>add</mat-icon>
        </button>
        <button
          mat-fab
          color="primary"
          class="image_button add_rem"
          style="margin-top: 10px"
          #tooltip="matTooltip"
          [style]="
            model.deferred_attributes['carousalImages'].length == 0
              ? 'left:0px'
              : ''
          "
          matTooltip="Add"
          *ngIf="addCarouselImage"
          (click)="addCarouselImage = false; cancelUploadCarouselImage()"
        >
          <mat-icon>close</mat-icon>
        </button>
        <button
          mat-fab
          color="primary"
          style="margin-top: 10px"
          [style]="
            model.deferred_attributes['carousalImages'].length == 0
              ? 'left:10%'
              : ''
          "
          id="delete_image"
          class="image_button"
          #tooltip="matTooltip"
          matTooltip="Delete"
          disabled="{{ addCarouselImage }}"
          (click)="deleteCarouselImage()"
        >
          <mat-icon style="font-size: 24px">delete</mat-icon>
        </button>
      </div>
    </mat-card-content>
    <div class="add-new-carousel-image" *ngIf="addCarouselImage">
      <label class="form-label" for="customFile">Upload a carousel image</label>
      <input
        type="file"
        class="form-control"
        id="customFile"
        accept="image/png, image/gif, image/jpeg"
        (change)="setImageFile($event)"
      />
    </div>
    <div>
      <button
        mat-fab
        color="primary"
        style="margin-top: 10px"
        #tooltip="matTooltip"
        matTooltip="Add website page"
        *ngIf="addCarouselImage"
        (click)="addCarouselImage = false; cancelUploadCarouselImage()"
      >
        <mat-icon>close</mat-icon>
      </button>
      &nbsp;
      <button
        mat-fab
        color="primary"
        style="margin-top: 10px"
        #tooltip="matTooltip"
        matTooltip="Add website page"
        *ngIf="addCarouselImage"
        (click)="addCarouselImage = true; uploadImageFileOnClick()"
      >
        <mat-icon>done</mat-icon>
      </button>
    </div>
    <h3>Image Notes</h3>
    <hr />
    <div>
      <div
        *ngFor="
          let imageNote of model.deferred_attributes['imageNotes'];
          let i = index
        "
        style="padding: 10px"
        class="row"
      >
        <div class="col-sm-3">
          <img
            src="{{ apiHost + imageNote.thumbnail }}"
            width="220"
            height="220"
            class="img-responsive"
          />
        </div>
        <div class="col-sm-9">
          <div class="form-group">
            <labeL>Heading</labeL>
            <input
              class="form-control"
              id="heading_{{ imageNote.id }}"
              value="{{ imageNote.heading }}"
              placeholder="Heading"
              [disabled]="imageNote.disabled"
              style="background-color: white"
            />
          </div>
          <br />
          <textarea
            id="text_area_{{ imageNote.id }}"
            class="form-control"
            rows="9"
            style="background-color: white"
            [disabled]="imageNote.disabled"
            >{{ imageNote.note }}</textarea
          >
          <div style="padding-top: 10px">
            <button
              mat-mini-fab
              color="primary"
              style="margin-top: 10px"
              #tooltip="matTooltip"
              matTooltip="Delete Image Note"
              style="float: right"
              (click)="deleteImageNote(imageNote.id, i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              mat-mini-fab
              color="primary"
              style="margin-top: 10px"
              #tooltip="matTooltip"
              [matTooltip]="imageNote.disabled ? 'Edit' : 'Cancel'"
              style="float: right; margin-right: 15px"
              (click)="
                imageNote.disabled = !imageNote.disabled;
                focus(imageNote.id, imageNote.disabled)
              "
            >
              <mat-icon *ngIf="imageNote.disabled">edit</mat-icon>
              <mat-icon *ngIf="!imageNote.disabled">close</mat-icon>
            </button>
            <button
              mat-mini-fab
              color="primary"
              style="margin-top: 10px"
              #tooltip="matTooltip"
              matTooltip="Save Image Note"
              *ngIf="imageNote.disabled == false"
              style="float: right; margin-right: 15px"
              (click)="saveImageNote(imageNote.id, imageNote)"
            >
              <mat-icon>done</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div>
        <button
          mat-fab
          color="primary"
          style="margin-top: 10px"
          #tooltip="matTooltip"
          [matTooltip]="!addImageNote ? 'Add Image Note' : 'Cancel'"
          style="margin-right: 15px"
          (click)="addImageNote = !addImageNote"
        >
          <mat-icon *ngIf="!addImageNote">add</mat-icon>
          <mat-icon *ngIf="addImageNote">close</mat-icon>
        </button>
        <button
          mat-fab
          color="primary"
          style="margin-top: 10px"
          #tooltip="matTooltip"
          matTooltip="Save"
          style="margin-right: 15px"
          *ngIf="addImageNote"
          (click)="createImageNote()"
        >
          <mat-icon>done</mat-icon>
        </button>
        <div
          class="add-new-image_note"
          *ngIf="addImageNote"
          style="padding-bottom: 50px; padding-top: 10px"
        >
          <label class="form-label" for="customFile"
            >Add an Image note -
            <small style="color: indigo"
              >Please try to select a square image, if you select a rectangular
              image then the system will crop it automatically.</small
            >
          </label>
          <input class="form-control" placeholder="Heading" id="imageNoteHeading"/>
          <br>
          <input
            type="file"
            class="form-control"
            id="customFile"
            accept="image/png, image/gif, image/jpeg"
            (change)="setImageNoteImage($event)"
          /><br />
          <textarea
            id="imageNoteText"
            class="form-control"
            placeholder="Type your note"
            rows="10"
          ></textarea>
        </div>
      </div>
    </div>
    <div>
      <br />
      <hr />
      <h3>Glimpses</h3>
      <div class="row">
        <div class="col-sm-4">
          <div
            *ngFor="
              let demoImage of demoImageGrid.defferedColumns[0];
              let i = index
            "
            class="social-media-control"
          >
            <img
              src="{{ apiHost + demoImage.thumbnail_rect }}"
              width="100%"
              class="demo_image"
            />
            <div class="clearfix imageGridElement" style="padding-top: 10px">
              <span class="float-end">
                <button
                  mat-mini-fab
                  color="primary"
                  style="margin-top: 10px"
                  style="float: right"
                  #tooltip="matTooltip"
                  matTooltip="Delete"
                  (click)="deleteDemoImage(demoImage.id, i, 0)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </span>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div
            *ngFor="
              let demoImage of demoImageGrid.defferedColumns[1];
              let i = index
            "
            class="social-media-control"
          >
            <img
              src="{{ apiHost + demoImage.thumbnail_rect }}"
              width="100%"
              class="demo_image"
            />
            <div class="clearfix imageGridElement">
              <span class="float-end">
                <button
                  mat-mini-fab
                  color="primary"
                  style="margin-top: 10px"
                  style="float: right"
                  #tooltip="matTooltip"
                  matTooltip="Delete"
                  (click)="deleteDemoImage(demoImage.id, i, 1)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </span>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div
            *ngFor="
              let demoImage of demoImageGrid.defferedColumns[2];
              let i = index
            "
            class="social-media-control"
          >
            <img
              src="{{ apiHost + demoImage.thumbnail_rect }}"
              width="100%"
              class="img-responsive demo_image"
            />
            <div class="clearfix imageGridElement">
              <span class="float-end">
                <button
                  mat-mini-fab
                  color="primary"
                  style="margin-top: 10px"
                  style="float: right"
                  #tooltip="matTooltip"
                  matTooltip="Delete"
                  (click)="deleteDemoImage(demoImage.id, i, 2)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <button
        mat-fab
        color="primary"
        style="margin-top: 10px"
        #tooltip="matTooltip"
        [matTooltip]="!addDemoImage ? 'Add Glimpses' : 'Cancel'"
        style="margin-right: 15px"
        (click)="addDemoImage = !addDemoImage"
      >
        <mat-icon *ngIf="!addDemoImage">add</mat-icon>
        <mat-icon *ngIf="addDemoImage">close</mat-icon>
      </button>
      <button
        mat-fab
        color="primary"
        style="margin-top: 10px"
        #tooltip="matTooltip"
        matTooltip="Save"
        *ngIf="addDemoImage"
        (click)="addDemoImage = true; uploadDemoImage()"
      >
        <mat-icon>done</mat-icon>
      </button>
      <div *ngIf="addDemoImage">
        <br />
        <label class="form-label" for="customFile"
          >Heading -
          <span style="color: indigo"
            >Please make the heading short.</span
          ></label
        >
        <input
          type="text"
          class="form-control"
          placeholder="Heading"
          [(ngModel)]="demoImageHeading"
        />
        <br />
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Heading color</mat-label>
          <mat-select [(ngModel)]="demoImageHeadingColor" required>
            <mat-option value="light">Light</mat-option>
            <mat-option value="dark">Dark</mat-option>
          </mat-select>
        </mat-form-field>
        <label class="form-label" for="customFile"
          >Upload Glimpses -
          <span style="color: indigo"
            >Please select a rectangular image.</span
          ></label
        >
        <input
          type="file"
          class="form-control"
          id="customFile"
          accept="image/png, image/gif, image/jpeg"
          (change)="setDemoImageFile($event)"
        />
      </div>
    </div>
  </mat-card>
</div>
