<div *ngIf="loading">
  <mat-spinner style="left: 40%; margin-top: 8%"></mat-spinner>
</div>
<div>
  <mat-selection-list>
    <div mat-subheader>Deployed Webpages</div>
    <mat-list-item *ngFor="let url of urls" (click)="setUrl(url)">
      <mat-icon matListItemIcon>http</mat-icon>
      <div matListItemTitle>
        {{ url.name }}
        <div style="float: right; padding-top: 20px">
          <mat-icon style="vertical-align: middle;"> link </mat-icon>&nbsp;{{ url.url }}
        </div>
      </div>
      <div matListItemLine>{{ url.updated | date }}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-selection-list>
</div>
