<div class="text-center" style="height: calc(100vh/2); padding-top:calc(25vh)" *ngIf="loading">
    <div class="spinner-border spinner-border-lg" role="status" style="width: 7rem; height: 7rem;">
        <span class="visually-hidden">Loading...</span>
    </div>   
    <br><br> 
    Loading...
    <div class="spinner-grow spinner-grow-sm" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="aboutDiv container-fluid" style="min-height: 60vh; padding-top: 30px" *ngIf="!loading">
    <div class="header text-center">
        <h1>{{heading}}</h1>
    </div>
    <hr>
    <br>
    <p style="font-size: 18px;">
        {{text}}
    </p>
</div>
