<div class="center baseDiv d-none d-md-block">
  <div>
    <mat-card class="shadow-lg p-3 mb-5 bg-white rounded" id="loginCard">
      <div class="text-center" style="margin-top: 20px;">
        <span
          class="material-symbols-outlined"
          style="color: white; font-size: 100px"
        >
          face
        </span>
      </div>
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="logIn()">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label class="label">Username</mat-label>
          <input
            matInput
            placeholder="Username"
            [formControl]="userNameControl"
            [required]="true"
          />
          <mat-error *ngIf="userNameControl.errors?.['required']"
            >Username cannot be blank</mat-error
          > </mat-form-field
        ><br />
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="Placeholder"
            placeholder="Password"
            type="password"
            [formControl]="passwordControl"
            [required]="true"
          />
          <mat-error *ngIf="passwordControl.errors?.['required']"
            >Password cannot be blank</mat-error
          >
          <mat-hint style="color: pink" *ngIf="failedLogin"
            >*Username or password incorrect*</mat-hint
          > </mat-form-field
        ><br />
        <br />
        <button mat-raised-button color="primary" (click)="logIn()">
          Login
        </button>
      </form>
    </mat-card>
  </div>
</div>
<div class="sm d-md-none">
  <div class="text-center loginPanel">
    <span
      class="material-symbols-outlined"
      style="color: white; font-size: 100px"
    >
      face
    </span>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="logIn()">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label class="label">Username</mat-label>
        <input
          matInput
          placeholder="Username"
          [formControl]="userNameControl"
          [required]="true"
        />
        <mat-error *ngIf="userNameControl.errors?.['required']"
          >Username cannot be blank</mat-error
        > </mat-form-field
      ><br />
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Placeholder"
          placeholder="Password"
          type="password"
          [formControl]="passwordControl"
          [required]="true"
        />
        <mat-error *ngIf="passwordControl.errors?.['required']"
          >Password cannot be blank</mat-error
        >
        <mat-hint style="color: pink" *ngIf="failedLogin"
          >*Username or password incorrect*</mat-hint
        > </mat-form-field
      ><br />
      <br />
      <button mat-raised-button color="primary" (click)="logIn()">Login</button>
    </form>
  </div>
</div>
