.social-media-lg
{
    width: 50%;
    padding-top: 50px; 
    margin-left: 25%;
}
footer {
    clear: both;
    position: relative;
    height: 350;
    margin-top: -350px;
} 
.spinner
{
    height: calc(100vh);
}