<footer style="margin-top: 80px;" class="bg-dark">
    <div  class="row" style="padding-top: 50px;"> 
        <div class="col-sm-6" style="color: white;">
            <div style="padding: 30px;">
                <div class="text-center">
                    <h2>Contact</h2>
                    <hr>
                    <h4>{{address['school_name']}}</h4>
                    <h4>{{address['address_line_1']}}</h4>
                    <h4>{{address['address_line_2']}}</h4>
                    <h4>Pincode: {{address['pin_code']}}</h4>
                    <h4>Phone no: {{address['phone_no']}} {{address['phone_no_2']}} {{address['phone_no_3']}}</h4>
                    <h4>{{address['additional_information']}}</h4>
                    <h4>{{address['email']}}</h4>
                </div>  
                
            </div> 
        </div>     
        <div class="col-sm-6" style="color: white;">
            <div style="padding: 30px;">
                <div class="text-center">
                    <h2>Social Media</h2>
                    <hr>
                    <span *ngFor="let image of socialMedia" style="padding: 25px;">
                        <a href="{{image.url}}" target="_blank"><img src="{{apiHost + image.icon}}" width="70"/></a>
                    </span>
                </div>    
                <div class="row" id="social_media">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-6" style="padding-top: 15px;">
                        <h3>Subsribe to our news letter </h3>
                        <form>
                            <div class="form-group">
                                <input class="form-control" placeholder="Email or phone number" [(ngModel)]="subscribeEmail" name="subscriber_email"/>
                                <div style="color:orange" *ngIf="isEmailInvalid==true">
                                    <strong>Please provide a valid email or phone no.</strong>
                                </div>
                                <div style="color:greenyellow" *ngIf="isSubscriptionSuccess==1">
                                    <strong>You have been subsribed to our newsletter. Thank you!</strong>
                                </div>
                                <div style="color:orange" *ngIf="isSubscriptionSuccess==2">
                                    <strong>Failed to subscribe. Please try again.</strong>
                                </div>
                            </div>
                            <br>
                            <button class="btn btn-light" type="button" (click)="postSubscribeMessage()">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
