<app-loading [loading]="loading"></app-loading>
<div class="container">
  <mat-card appearance="outlined" class="card-panel shadow p-3 mb-5 bg-white rounded">
    <mat-card-header>
      <mat-icon style="margin-right: 20px">settings</mat-icon>
      <h6>General Configuration</h6>
      <mat-icon style="padding-left: 80%" (click)="close()">cancel</mat-icon>
    </mat-card-header>
    <mat-card-content>
      <br />
      Attributes
      <hr />
      <div class="row" id="general-attributes">
        <div class="col-sm-4">
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Website Name</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="deferredData.website_name"
              [disabled]="style['disabledEditWebsiteName']"
              [required]="true"
            />
            <button
              *ngIf="style['disabledEditWebsiteName']"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="style['disabledEditWebsiteName'] = false"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              *ngIf="!style['disabledEditWebsiteName']"
              matSuffix
              mat-icon-button
              aria-label="Cancel"
              (click)="
                style['disabledEditWebsiteName'] = true;
                cancelEdit('website_name')
              "
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Website Theme</mat-label>
            <mat-select
              [(ngModel)]="deferredData.website_theme"
              [disabled]="style['disabledWebsiteTheme']"
            >
              <mat-option
                *ngFor="let theme of websiteTheme"
                [value]="theme.value"
              >
                {{ theme.viewValue }}
              </mat-option>
            </mat-select>
            <button
              *ngIf="style['disabledWebsiteTheme']"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="style['disabledWebsiteTheme'] = false"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              *ngIf="!style['disabledWebsiteTheme']"
              matSuffix
              mat-icon-button
              aria-label="Cancel"
              (click)="
                style['disabledWebsiteTheme'] = true;
                cancelEdit('website_theme')
              "
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Navbar Theme</mat-label>
            <mat-select
              [(ngModel)]="deferredData.navbar_theme"
              [disabled]="style['disabledNavbarTheme']"
            >
              <mat-option
                *ngFor="let theme of navbarTheme"
                [value]="theme.value"
              >
                {{ theme.viewValue }}
              </mat-option>
            </mat-select>
            <button
              *ngIf="style['disabledNavbarTheme']"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="style['disabledNavbarTheme'] = false"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              *ngIf="!style['disabledNavbarTheme']"
              matSuffix
              mat-icon-button
              aria-label="Cancel"
              (click)="
                style['disabledNavbarTheme'] = true; cancelEdit('navbar_theme')
              "
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      <br />
      Social Media
      <hr style="margin-top: 5px" />
      <div class="row">
        <div class="col-sm-6">
          <div>
            <div
              *ngFor="let socialMedia of grid.defferedColumns[0]; let i = index"
              class="social-media-control"
            >
              <mat-form-field style="width: 100%" appearance="outline">
                <mat-label>{{ socialMedia.name }}</mat-label>
                <input
                  matInput
                  type="text"
                  [(ngModel)]="socialMedia.url"
                  [disabled]="socialMedia['disabled']"
                  [required]="true"
                />
                <button
                  *ngIf="socialMedia['disabled']"
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  (click)="socialMedia['disabled'] = false"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  *ngIf="!socialMedia['disabled']"
                  matSuffix
                  mat-icon-button
                  aria-label="Cancel"
                  (click)="
                    socialMedia['disabled'] = true; cancelSocialEdit(0, i)
                  "
                >
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
              <div class="clearfix">
                <span class="float-end">
                  <button
                    mat-mini-fab
                    color="primary"
                    style="margin-top: 10px"
                    style="float: right"
                    #tooltip="matTooltip"
                    matTooltip="Delete"
                    (click)="deleteSocial(0, i)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div>
            <div
              *ngFor="let socialMedia of grid.defferedColumns[1]; let i = index"
              class="social-media-control"
            >
              <mat-form-field style="width: 100%" appearance="outline">
                <mat-label>{{ socialMedia.name }}</mat-label>
                <input
                  matInput
                  type="text"
                  [(ngModel)]="socialMedia.url"
                  [disabled]="socialMedia['disabled']"
                  [required]="true"
                />
                <button
                  *ngIf="socialMedia['disabled']"
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  (click)="socialMedia['disabled'] = false"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  *ngIf="!socialMedia['disabled']"
                  matSuffix
                  mat-icon-button
                  aria-label="Cancel"
                  (click)="
                    socialMedia['disabled'] = true; cancelSocialEdit(1, i)
                  "
                >
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
              <div class="clearfix">
                <span class="float-end">
                  <button
                    mat-mini-fab
                    color="primary"
                    style="margin-top: 10px"
                    style="float: right"
                    #tooltip="matTooltip"
                    matTooltip="Delete"
                    (click)="deleteSocial(1, i)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="add-social-media" *ngIf="flags['addSocialMedia']">
        <br />
        Add a social media page
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field style="margin-top: 20px; width: 100%" appearance="outline">
              <mat-label>Select Social Media</mat-label>
              <mat-select [(ngModel)]="selectedSocialMedia">
                <mat-option
                  *ngFor="let socialMedia of socialMedias"
                  [value]="socialMedia.value"
                >
                  {{ socialMedia.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field style="margin-top: 20px; width: 100%" appearance="outline">
              <mat-label>Url</mat-label>
              <input
                matInput
                type="text"
                [(ngModel)]="newSocialMediaUrl"
                [required]="true"
                placeholder="Enter url to the social media page/profile"
              />
              <button
                *ngIf="style['disabledEditWebsiteName']"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="style['disabledEditWebsiteName'] = false"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                *ngIf="!style['disabledEditWebsiteName']"
                matSuffix
                mat-icon-button
                aria-label="Cancel"
                (click)="
                  style['disabledEditWebsiteName'] = true;
                  cancelEdit('website_name')
                "
              >
                <mat-icon>add</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
      </div>
      <button
        mat-fab
        color="primary"
        style="margin-top: 10px"
        *ngIf="!flags['addSocialMedia']"
        #tooltip="matTooltip"
        matTooltip="Add social media pages and links"
        (click)="flags['addSocialMedia'] = true"
      >
        <mat-icon>add</mat-icon>
      </button>
      <button
        mat-fab
        *ngIf="flags['addSocialMedia']"
        color="primary"
        style="margin-top: 10px"
        #tooltip="matTooltip"
        matTooltip="Add"
        (click)="flags['addSocialMedia'] = false; addSocial()"
      >
        <mat-icon>check</mat-icon>
      </button>
      &nbsp;
      <button
        mat-fab
        *ngIf="flags['addSocialMedia']"
        color="primary"
        style="margin-top: 10px"
        #tooltip="matTooltip"
        matTooltip="Cancel"
        (click)="flags['addSocialMedia'] = false; cancelAddSocial()"
      >
        <mat-icon>close</mat-icon>
      </button>
      <br />
      <h3>Address</h3>
      <hr />
      <div class="row">
        <div class="col-sm-4">
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>School Name</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="deferredData.location.school_name"
              [disabled]="style['disabledEditSchoolName']"
              [required]="true"
            />
            <button
              *ngIf="style['disabledEditSchoolName']"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="style['disabledEditSchoolName'] = false"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              *ngIf="!style['disabledEditSchoolName']"
              matSuffix
              mat-icon-button
              aria-label="Cancel"
              (click)="
                style['disabledEditSchoolName'] = true;
                cancelEdit('school_name')
              "
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <br />
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Pin Code</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="deferredData.location.pin_code"
              [disabled]="style['disabledEditPinCode']"
              [required]="true"
            />
            <button
              *ngIf="style['disabledEditPinCode']"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="style['disabledEditPinCode'] = false"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              *ngIf="!style['disabledEditPinCode']"
              matSuffix
              mat-icon-button
              aria-label="Cancel"
              (click)="
                style['disabledEditPinCode'] = true; cancelEdit('pin_code')
              "
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <br />
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Alternate Phone No 2 </mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="deferredData.location.phone_no_2"
              [disabled]="style['disabledEditPhoneNo2']"
              [required]="false"
            />
            <button
              *ngIf="style['disabledEditPhoneNo2']"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="style['disabledEditPhoneNo2'] = false"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              *ngIf="!style['disabledEditPhoneNo2']"
              matSuffix
              mat-icon-button
              aria-label="Cancel"
              (click)="
                style['disabledEditPhoneNo2'] = true; cancelEdit('phone_no_2')
              "
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Address Line 1</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="deferredData.location.address_line_1"
              [disabled]="style['disabledEditAddressLine1']"
              [required]="true"
            />
            <button
              *ngIf="style['disabledEditAddressLine1']"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="style['disabledEditAddressLine1'] = false"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              *ngIf="!style['disabledEditAddressLine1']"
              matSuffix
              mat-icon-button
              aria-label="Cancel"
              (click)="
                style['disabledEditAddressLine1'] = true;
                cancelEdit('address_line_1')
              "
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <br />
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Phone No</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="deferredData.location.phone_no"
              [disabled]="style['disabledEditPhoneNo']"
              [required]="true"
            />
            <button
              *ngIf="style['disabledEditPhoneNo']"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="style['disabledEditPhoneNo'] = false"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              *ngIf="!style['disabledEditPhoneNo']"
              matSuffix
              mat-icon-button
              aria-label="Cancel"
              (click)="
                style['disabledEditPhoneNo'] = true; cancelEdit('phone_no')
              "
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <br />
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="deferredData.location.email"
              [disabled]="style['disabledEditEmail']"
              [required]="true"
            />
            <button
              *ngIf="style['disabledEditEmail']"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="style['disabledEditEmail'] = false"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              *ngIf="!style['disabledEditEmail']"
              matSuffix
              mat-icon-button
              aria-label="Cancel"
              (click)="style['disabledEditEmail'] = true; cancelEdit('email')"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Address Line 2</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="deferredData.location.address_line_2"
              [disabled]="style['disabledEditAddressLine2']"
              [required]="true"
            />
            <button
              *ngIf="style['disabledEditAddressLine2']"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="style['disabledEditAddressLine2'] = false"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              *ngIf="!style['disabledEditAddressLine2']"
              matSuffix
              mat-icon-button
              aria-label="Cancel"
              (click)="
                style['disabledEditAddressLine2'] = true;
                cancelEdit('address_line_2')
              "
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <br />
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Alternate Phone No </mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="deferredData.location.phone_no_2"
              [disabled]="style['disabledEditPhoneNo1']"
              [required]="false"
            />
            <button
              *ngIf="style['disabledEditPhoneNo1']"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="style['disabledEditPhoneNo1'] = false"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              *ngIf="!style['disabledEditPhoneNo1']"
              matSuffix
              mat-icon-button
              aria-label="Cancel"
              (click)="
                style['disabledEditPhoneNo1'] = true; cancelEdit('phone_no_2')
              "
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      <div>
        <textarea
          class="form-control"
          id="additional_information"
          placeholder="Additional Information"
          rows="5"
          style="background-color: white;"
          [disabled]="style['disabledEditAdditionalInformation']"
          >{{ deferredData.location.additional_information }}</textarea
        >
        <button
          *ngIf="style['disabledEditAdditionalInformation']"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="style['disabledEditAdditionalInformation'] = false;focusTextArea()"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          *ngIf="!style['disabledEditAdditionalInformation']"
          matSuffix
          mat-icon-button
          aria-label="Cancel"
          (click)="
            style['disabledEditAdditionalInformation'] = true;
            cancelEdit('additional_info')
          "
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <hr />
      <br />
      After saving your changes, they will not reflect automatically on webapps
      and your website. The user must reload the webpage for them to see the
      changes
      <br /><br />
      <button mat-raised-button color="primary" (click)="saveChanges()">
        <mat-icon> check </mat-icon>&nbsp;Save
      </button>
      <button
        mat-raised-button
        color="warn"
        style="margin-left: 20px"
        (click)="cancelChanges()"
      >
        <mat-icon> delete </mat-icon>&nbsp;Cancel
      </button>
    </mat-card-content>
  </mat-card>
</div>


