<div *ngIf="loading">
  <mat-spinner style="left: 40%; margin-top: 8%"></mat-spinner>
</div>

<div class="row">
  <div class="col-sm-6">
    <div *ngFor="let page of grid.defferedColumns[0]" class="pageButton">
      <a href="" (click)="false" routerLink="{{page.link}}">
        <mat-card  appearance="outlined"  rows="8" class="pages">
          <div class="text-center">
            <mat-icon>{{ page.icon }}</mat-icon
            ><br />
            <small>{{ page.page_name }}</small>
          </div>
        </mat-card>
      </a>
    </div>
  </div>
  <div class="col-sm-6">
    <div *ngFor="let page of grid.defferedColumns[1]" class="pageButton">
      <a href="" (click)="false" >
        <mat-card  appearance="outlined"  rows="8" class="pages">
          <div class="text-center">
            <mat-icon>{{ page.icon }}</mat-icon
            ><br />
            <small>{{ page.page_name }}</small>
          </div>
        </mat-card>
      </a>
    </div>
  </div>
</div>
<div *ngIf="includeWebpage" style="padding-bottom: 40px;">
  <hr>
  <small>Add a new page on the website tab</small>
  <mat-form-field appearance="outline" style="width: 100%; margin-top: 5px;">
    <mat-label>Url</mat-label>
    <input
      matInput
      type="text"
      placeholder="Enter the url of the webpage"
      [(ngModel)]="url"
    />
    <button mat-icon-button matSuffix  [attr.aria-label]="'Hide password'" (click)="openWebPagesList()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button color="primary" style="float: right;" (click)="saveDynamicUrl()">Save</button>
</div>
<button
  mat-mini-fab
  color="primary"
  style="margin-top: 10px"
  #tooltip="matTooltip"
  matTooltip="Add website page"
  (click)="includeWebpage=!includeWebpage"
>
  <mat-icon>add</mat-icon>
</button>
&nbsp;
<button
  mat-mini-fab
  color="primary"
  style="margin-top: 10px"
  #tooltip="matTooltip"
  matTooltip="Create/Edit page"
  (click)="createWebPage()"
>
  <mat-icon>web_asset</mat-icon>
</button>

