.nv-ul
{
    padding: 0px;
    list-style-type: none;
}
.nav-link
{
    background-color: white;
    width: 100px;
    height: 100px;
    text-decoration: none;
}
.nav-button
{
    width: 100%;
    height: 60px;
    text-align: left;
    vertical-align: middle;
    margin: 5px;
    background-color: lightsteelblue;
}
.nav-button:hover
{
    opacity: 0.7;
    color: black;
}

.nav-button-dropdown
{
    width: 100%;
    height: 40px;
    text-align: left;
    vertical-align: middle;
    margin: 5px;
    background-color: lightsteelblue;
}
.nav-button-dropdown:hover
{
    opacity: 0.7;
    color: black;
}
.nav-active
{
    background-color: white;
    color: black;
}
.nav-active > *
{
    color: black;
}
.nav-button:hover > *
{
    color: black;
}
.nav-li
{
    padding: 0px;
}
.button-text
{
    padding-left: 20px;
}

@media all and (max-width: 820px) and (max-height: 1200px){
  .config-card
  {
    left: 25% !important;
    width: 72% !important;
    z-index: 10000;
  }
  .phoneTopNav
  {
    background-color: indigo;
    position: fixed;
    z-index: 10000;
    width: 100%;
    min-height: 60px;
  }
}
@media all and (max-width: 900px) and (max-height: 2000px) and (orientation: landscape)
{
  .config-card
  {
    left: 25% !important;
    width: 72% !important;
    z-index: 10000;
  }
  .phoneTopNav
  {
    background-color: indigo;
    position: fixed;
    z-index: 10000;
    width: 100%;
    min-height: 60px;
  }
}
