<div class="baseDiv d-none d-md-block">
  <br />
  <div class="row infoGrid">
    <div class="col-sm-6">
      <mat-card>
        <mat-card-content>
          <div class="text-center infoCard">
            <span class="material-symbols-outlined"> toolbar </span>
            <h5>Website Designer</h5>
          </div>
        </mat-card-content>
      </mat-card>
      <br />
      <mat-card>
        <mat-card-content>
          <div class="text-center infoCard">
            <span class="material-symbols-outlined"> sos </span>
            <h5>
              Dedicated Team of Enginners <br />
              for support
            </h5>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-6">
      <mat-card>
        <mat-card-content>
          <div class="text-center infoCard">
            <span class="material-symbols-outlined"> apps </span>
            <h5>Prebuilt modules</h5>
          </div>
        </mat-card-content>
      </mat-card>
      <br />
      <mat-card>
        <mat-card-content>
          <div class="text-center infoCard">
            <span class="material-symbols-outlined"> store </span>
            <h5>Appstore</h5>
            <br />
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div class="d-md-none" style="padding-top: 70px">
  <div>
    <div class="header">
      <h1 class="text-center">Design and Deploy Web Applications</h1>
      <div>
        <h4 class="text-center">Create scalable applications without coding</h4>
        <ul class="baseLi">
          <li>Hundreds of prebuilt modules which can be used independently</li>
          <li>A very simple and easy to use website designer</li>
          <li>Custom support team for each user</li>
        </ul>
        <br />
        <div class="accountActions">
          <button
            mat-stroked-button
            routerLink="login"
            color="transparent"
            style="background-color: indigo;width: 100%;"
          >
            Login
            <mat-icon>
              person
            </mat-icon>
          </button>
          <button
            mat-stroked-button
            style="background-color: indigo;width: 100%; margin-top: 5px;"
            color="transparent"
            routerLink="signup"
          >
            Sign Up
            <mat-icon>
              person_add
            </mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="d-flex">
        <mat-card class="flex-fill">
          <mat-card-content>
            <div class="text-center infoCard">
              <span class="material-symbols-outlined"> toolbar </span>
              <h5>Website Designer</h5>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card style="width: 50%">
          <mat-card-content>
            <div class="text-center infoCard">
              <span class="material-symbols-outlined"> sos </span>
              <h5>
                Dedicated Team of Enginners <br />
                for support
              </h5>
            </div>
          </mat-card-content>
          <div class="w-100"></div>
        </mat-card>
      </div>
      <div class="d-flex" style="margin-top: 10px">
        <mat-card class="flex-fill">
          <mat-card-content>
            <div class="text-center infoCard">
              <span class="material-symbols-outlined"> apps </span>
              <h5>Prebuilt modules</h5>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card style="width: 50%">
          <mat-card-content>
            <div class="text-center infoCard">
              <span class="material-symbols-outlined"> store </span>
              <h5>Appstore</h5>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
