<div class="area">
  <div class="row">
    <div class="col-sm-2">
      <mat-card matRipple *ngFor="let db of dataModels" class="db-list">
        <mat-card-content (click)="selectedDm = db; resetEditor()">
          <img src="/assets/images/database_image.png" width="50" />
          <span class="codeFontMd" [style.color]="db.purged ? 'red': 'blueviolet'">
            {{ db.name }}
          </span>
          <small *ngIf="db['purged']" style="color:red">&nbsp;**Purged</small>
        </mat-card-content>
      </mat-card>
    </div>
    <div [class]="resultDockedToRight ? 'col-sm-4' : 'col-sm-10'">
      <div>
        <mat-card class="workspace">
          <mat-card-header>
            <img src="/assets/images/database_image.png" width="25" />
            <span class="codeFont">@ {{ selectedDm.name }}</span>
            <small *ngIf="selectedDm['purged']" style="color:red">&nbsp;**Purged</small>
          </mat-card-header>
          <br />
          <mat-card-content>
            <mat-form-field>
              <mat-label>Query Type</mat-label>
              <mat-select [(ngModel)]="queryType">
                <mat-option
                  *ngFor="let query of queryTypes"
                  [value]="query.value"
                >
                  {{ query.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
              <mat-label>Query Type</mat-label>
              <mat-select
                [(ngModel)]="jsonQuery"
                (selectionChange)="changeQuery()"
              >
                <mat-option *ngFor="let query of queries" [value]="query.value">
                  {{ query.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            &nbsp;
            <button
              mat-raised-button
              color="primary"
              #tooltip="matTooltip"
              matTooltip="Run query"
              style="height: 40px; width: 40px"
              [disabled]="selectedDm['purged'] == true"
              (click)="postQuery()"
            >
              <mat-icon style="font-size: 20px; vertical-align: center"
                >arrow_forward_ios</mat-icon
              >
            </button>
            <br />
            Query
            <br />
            <textarea
              id="jsonQueryEditor"
              class="form-control codeFont"
              rows="15"
              style="background-color: lightyellow"
              (keydown)="onTab($event)"
              [value]="query | json"
            ></textarea>
            <br />
            <div *ngIf="!resultDockedToRight">
              Result
              <button
                mat-button
                style="float: right"
                #tooltip="matTooltip"
                matTooltip="Dock the panel to right"
                (click)="resultDockedToRight = true"
              >
                <mat-icon style="font-size: 20px; vertical-align: center"
                  >arrow_upward</mat-icon
                >
              </button>
              <hr style="margin-bottom: 15px" />
              <textarea
                *ngIf="!isDataReturned"
                id="output"
                class="form-control codeFont"
                rows="5"
                style="background-color: lightyellow"
                [value]="serverMessage"
                [style.color]="color"
              ></textarea>
              <div *ngIf="isDataReturned">
                <table
                  mat-table
                  [dataSource]="dataSource"
                  class="mat-elevation-z8"
                  width="100%"
                >
                  <ng-container
                    matColumnDef="{{ col }}"
                    *ngFor="let col of selectedDm['meta_data']['columns']"
                  >
                    <th mat-header-cell *matHeaderCellDef>{{ col }}</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element[col] }}
                    </td>
                  </ng-container>
                  <tr
                    mat-header-row
                    *matHeaderRowDef="selectedDm['meta_data']['columns']"
                  ></tr>
                  <tr
                    mat-row
                    *matRowDef="
                      let row;
                      columns: selectedDm['meta_data']['columns']
                    "
                  ></tr>
                </table>
              </div>
            </div>
            <br>
              History
              <hr>
              <textarea
                id="output"
                class="form-control codeFont"
                rows="5"
                style="background-color: lightyellow;font-size: 12px;"
                [value]="queryHistory | json"
                [style.color]="color"
              ></textarea>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="col-sm-6" *ngIf="resultDockedToRight">
      <mat-card class="workspace">
        Result
        <button
          mat-button
          style="float: right"
          #tooltip="matTooltip"
          matTooltip="Dock the panel to right"
          (click)="resultDockedToRight = false"
        >
          <mat-icon style="font-size: 20px; vertical-align: center"
            >arrow_downward</mat-icon
          >
        </button>
        <hr style="margin-bottom: 15px" />
        <textarea
          *ngIf="!isDataReturned"
          id="output"
          class="form-control codeFont"
          rows="20"
          style="background-color: lightyellow"
          [value]="serverMessage"
          [style.color]="color"
        ></textarea>
        <div *ngIf="isDataReturned">
          <table
            mat-table
            [dataSource]="dataSource"
            class="mat-elevation-z2"
            width="100%"
          >
            <ng-container
              matColumnDef="{{ col }}"
              *ngFor="let col of selectedDm['meta_data']['columns']"
            >
              <th mat-header-cell *matHeaderCellDef>{{ col }}</th>
              <td mat-cell *matCellDef="let element">
                {{ element[col] }}
              </td>
            </ng-container>
            <tr
              mat-header-row
              *matHeaderRowDef="selectedDm['meta_data']['columns']"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: selectedDm['meta_data']['columns']"
            ></tr>
          </table>
        </div>
      </mat-card>
    </div>
  </div>
</div>
