  <mat-drawer-container class="dashboardContainer" autosize >
    <mat-drawer mode="side" [opened]="true" class="sideNav">
      <div>
        <div class="text-white" style="padding-top: 20px; padding-left: 10px; padding-right: 10px; ">
          <div class="text-center">
            <mat-icon style="vertical-align: middle; font-size: 30px" (click)="isExpanded=!isExpanded">
              <span class="material-symbols-outlined" style="size: 48">
                dashboard
              </span>
            </mat-icon>
            <span *ngIf="isExpanded" style="vertical-align: bottom; padding-left: 15px;">Dashboard</span>
          </div>
          <hr>
          <div style = "" class="text-center">
            <img src="{{profilePic}}" class="rounded-circle" width="50" style=""><br>
            <small style="margin-top: 3px;">@{{username}}</small>
          </div>
          <hr>
          <div class="tabs">
            <mat-nav-list style="position: relative">
              <mat-list-item class="listed">
                <mat-icon mat-list-icon style="color: white; font-size: 30px;">dynamic_feed</mat-icon>
                <h4 mat-line *ngIf="isExpanded" style="color: white;"><small>Overview</small></h4>
              </mat-list-item>
              <mat-list-item  class="listed">
                <mat-icon mat-list-icon  style="color: lightgray;">workspaces</mat-icon>
                <h4 mat-line *ngIf="isExpanded" style="color: white;"><small>Tasks</small></h4>
              </mat-list-item>
              <mat-list-item  class="listed">
                <mat-icon mat-list-icon  style="color: lightgray;">group</mat-icon>
                <h4 mat-line *ngIf="isExpanded"style="color: white;"><small>Social</small></h4>
              </mat-list-item>
              <mat-list-item  class="listed" routerLink="website-config">
                <mat-icon mat-list-icon  style="color: lightgray;">settings</mat-icon>
                <h4 mat-line *ngIf="isExpanded"style="color: white;"><small>Website Config</small></h4>
              </mat-list-item>
              <mat-list-item  class="listed">
                <mat-icon mat-list-icon  style="color: lightgray;">message</mat-icon>
                <h4 mat-line *ngIf="isExpanded"style="color: white;"><small>Messages</small></h4>
              </mat-list-item>
            </mat-nav-list>
          </div>
          </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
