  <mat-drawer-container class="dashboardContainer">
    <mat-drawer mode="side" [opened]="true" class="sideNav">
      <div>
        <div class="text-white" style="padding-top: 20px; padding-left: 10px; padding-right: 10px;">
          <div class="text-center">
            <h4>Dashboard</h4>
          </div>
          <hr>
          <div style="padding: 20px">
            <span><img src="{{profilePic}}" class="rounded-circle" width="50" style="margin-right: 20px;">{{username}}</span>
          </div>
          <hr>
          <div class="tabs">
            <!-- <button mat-flat-button color="basic" style="width: 100%;text-align: left; height: 60px; opacity: 0.9;"><mat-icon>dynamic_feed</mat-icon><span style="padding-left: 10px">
              Overview
            </span></button>
            <button mat-button color="basic" style="width: 100%;text-align: left; height: 60px; opacity: 0.9;"><mat-icon><span class="material-symbols-outlined">
              workspaces
              </span></mat-icon><span style="padding-left: 10px">
              Tasks
            </span></button> -->
            <ul class="sid-nv-ul">
              <li class="side-nav-li">
                <button class="btn btn-default text-white nav-button" routerLinkActive="nav-active">
                  <mat-icon style="vertical-align: middle;">
                    <span class="material-symbols-outlined">
                      dynamic_feed
                    </span>
                  </mat-icon>
                  <span class="button-text">Overview</span>
                </button>
                <button class="btn btn-default text-white nav-button">
                  <mat-icon style="vertical-align: middle;">
                    <span class="material-symbols-outlined">
                    workspaces
                    </span>
                  </mat-icon>
                  <span class="button-text">Tasks</span>
                </button>
                <button class="btn btn-default text-white nav-button">
                  <mat-icon style="vertical-align: middle;">
                    <span class="material-symbols-outlined">
                    group
                    </span>
                  </mat-icon>
                  <span class="button-text">Social</span>
                </button>
                <button class="btn btn-default text-white nav-button" routerLinkActive="nav-active"
                  routerLink="website-config">
                  <mat-icon style="vertical-align: middle;">
                    <span class="material-symbols-outlined">
                    settings
                    </span>
                  </mat-icon>
                  <span class="button-text">Website Config</span>
                </button> 
                <button class="btn btn-default text-white nav-button">
                  <mat-icon style="vertical-align: middle;">
                    <span class="material-symbols-outlined">
                    message
                    </span>
                  </mat-icon>
                  <span class="button-text">Messages</span>
                </button> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>