<div
  *ngIf="loading"
  class="center"
  style="position: fixed; z-index: 200000; width: 100%; padding-top: 15%"
>
  <mat-spinner style="left: calc(100vw / 2.5)"></mat-spinner>
  <span style="padding-left: calc(100vw / 2.4)">Loading..</span>
</div>

<div class="wrapper container-fluid">
  <div class="row wrap">
    <div class="col-lg-3">
      <mat-card>
        <mat-card-content>
          <div *ngIf="userDataInfo">
            <div class="profilePic text-center">
              <img [src]="profilePicUrl"  *ngIf="!default" class="rounded-circle img-fluid"
              width="250" height="250"
              />
              <span class="material-symbols-outlined" *ngIf="default" style="font-size: 100px;">
                face
              </span>
              <br> <br>
              <span class="grey">@{{userDataInfo.username}}</span>
              <div class="grey"><h3 style="padding-bottom: 0px;margin-bottom: 0px;"><strong>{{userDataInfo.user_data.name}}</strong></h3>
                {{userDataInfo.user_data.occupation}}
              </div>
              <br>
              <button mat-raised-button color="primary" (click)="showActions=!showActions"><mat-icon>lock</mat-icon>Actions</button>
              <div *ngIf="showActions" style="padding-top: 30px;">
                <mat-icon style="vertical-align: middle;">account_circle</mat-icon>
                &nbsp;
                <strong class="grey">Logout/Change Password</strong>
                <hr>
                <button mat-mini-fab color="accent" #tooltip="matTooltip"
                matTooltip="Logout" (click)="logout()"><mat-icon>logout</mat-icon></button>
                &nbsp;
                <button mat-mini-fab color="primary"#tooltip="matTooltip"
                matTooltip="Change Password" (click)="editPassword=!editPassword"><mat-icon>key</mat-icon></button>
                &nbsp;
                <button mat-mini-fab color="primary"#tooltip="matTooltip" *ngIf="!hideUpload"
                matTooltip="Update Profile Picture" (click)="profilePic.click();"><mat-icon>image</mat-icon></button>
                &nbsp;
                <button mat-mini-fab color="primary"#tooltip="matTooltip" *ngIf="hideUpload"
                matTooltip="Cancel" (click)="cancelUpload()"><mat-icon>close</mat-icon></button>
                &nbsp;
                <button mat-mini-fab color="primary"#tooltip="matTooltip" *ngIf="hideUpload"
                matTooltip="Upload" (click)="uploadProfilePic()"><mat-icon>upload</mat-icon></button>

                <input type="file" #profilePic  (change)="setProfile($event)" hidden>
                <div *ngIf="editPassword">
                  <br>
                  <h3>Change Password</h3>
                  <hr>
                  <mat-form-field appearance="outline">
                    <mat-label>Current Password</mat-label>
                    <input matInput placeholder="Current Password" type="password" [(ngModel)]="currentPassword"/>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" type="password" [(ngModel)]="password1" (ngModelChange)="passwordError=false;passwordLengthError=false"/>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="Confirm Password" type="password"[(ngModel)]="password2" (ngModelChange)="passwordError=false;passwordLengthError=false"/>
                  </mat-form-field>
                  <mat-error *ngIf="passwordError" style="padding: 0px;">Password does not match</mat-error>
                  <mat-error *ngIf="passwordLengthError" style="padding: 0px;">Minimum length is 6</mat-error>
                  <br>
                  <button mat-raised-button color="primary" (click)="changePassword()">Confirm</button>
                  &nbsp;
                  <button mat-raised-button color="primary" (click)="cancelPasswordChange()">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-9">
      <br class="d-lg-none">
      <mat-card>
        <mat-card-header>
          <h3 class="text-secondary"><strong>Details</strong></h3>
        </mat-card-header>
        <mat-card-content *ngIf="userDataInfo">
          <hr>
          <div class="row">
            <div class="col-sm-3">
              Name
            </div>
            <div class="col-sm-9 text-secondary">
              {{userDataInfo.user_data.name}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              Email
            </div>
            <div class="col-sm-9 text-secondary">
              {{userDataInfo.user_data.email}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              Occupation
            </div>
            <div class="col-sm-9 text-secondary">
              {{userDataInfo.user_data.occupation}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              Phone No
            </div>
            <div class="col-sm-9 text-secondary">
              {{userDataInfo.user_data.phone_no}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              Address
            </div>
            <div class="col-sm-9 text-secondary">
              {{userDataInfo.user_data.address}}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
